<br>



<div class="accueil">
  
<div style="margin-left: 40px;">  
  <div class="titre">
    <h1>Solutions 
    <br>   
    <strong style="color:white">Technologiques</strong>
</h1>
  </div>

<p class="text">
    COSIT est une entreprise en développement basé au Mali.
    Notre objectif est de fournir un service de qualité et de faciliter
     l’utilisation des technologies de l’information pour différents 
     secteurs de la société
</p>
<br>
  <!-- les bouttons -->
<div class="btn">

<button class="sa">En Savoir plus</button>
<button class="ca">Nous-Contactez</button>

</div>
</div>
</div>


    <!-- les cards -->
    <div class="contenu">

        <!-- experience -->
    
    <div class="card">
        <div class="tx">
            <img src="../assets/ex.png" style="width: 50px; height: 70px;">
            <h2>EXPÉRIENCE</h2>
            <p>Une équipe d’experts pour toutes vos exigences.</p>
            </div>
    </div>

 <!-- Efficasité -->
 <div class="card">
    
    <div class="tx">
        <img src="../assets/eff.png" style="width: 50px; height: 70px;">
        <h2>EFFICACITÉ</h2>
        <p>Des clients toujours satisfaits de nos prestations.</p>
        </div>
    
 </div>
        <!-- creativité -->
    <div class="card">

    <div class="tx">
        <img src="../assets/crea.png" style="width: 50px; height: 70px;">
        <h2>CRÉATIVITÉ</h2>
        <p>Des designs à la hauteur de vos attentes.</p>
        </div>

    </div>
    
    
   
    
    
    
    
    </div>